<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
    </div>
  </div>
  <nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Procure sua IA" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>
</nav>
<br> <!-- É INTERESSANTE USAR CSS PARA SETAR A DISTÂNCIA IDEAL ENTRE OS ELEMENTOS -->

<div class="card" style="width: 18rem;">
<img src="<%= @bard.url_image %>" class="card-img-top" alt="<%= @bard.nome %>">
  <div class="card-body">
    <h5 class="card-title"><% %></h5>
    <p class="card-text"> <%= @bard.nome %> </p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<br>

<div class="card" style="width: 18rem;">
<img src="<%= @gpt.url_image %>" class="card-img-top" alt="<%= @gpt.nome %>">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text"><%= @gpt.nome %> </p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>