<div id="<%= dom_id inteligencia_artificial %>">
  <p>
    <strong>Nome:</strong>
    <%= inteligencia_artificial.nome %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= inteligencia_artificial.descricao %>
  </p>

  <p>
    <strong>Url image:</strong>
    <%= inteligencia_artificial.url_image %>
  </p>

  <p>
    <strong>Categoria:</strong>
    <%= inteligencia_artificial.categoria %>
  </p>

  <p>
    <strong>Tecnologia:</strong>
    <%= inteligencia_artificial.tecnologia %>
  </p>

  <p>
    <strong>Data criacao:</strong>
    <%= inteligencia_artificial.data_criacao %>
  </p>

  <p>
    <strong>Desenvolvedor:</strong>
    <%= inteligencia_artificial.desenvolvedor %>
  </p>

  <p>
    <strong>Url documentacao:</strong>
    <%= inteligencia_artificial.url_documentacao %>
  </p>

  <p>
    <strong>Url repositorio:</strong>
    <%= inteligencia_artificial.url_repositorio %>
  </p>

  <p>
    <strong>Avaliacao media:</strong>
    <%= inteligencia_artificial.avaliacao_media %>
  </p>

  <p>
    <strong>Contagem avaliacoes:</strong>
    <%= inteligencia_artificial.contagem_avaliacoes %>
  </p>

</div>
