<p style="color: green"><%= notice %></p>

<%= render @inteligencia_artificial %>

<div>
  <%= link_to "Edit this inteligencia artificial", edit_inteligencia_artificial_path(@inteligencia_artificial) %> |
  <%= link_to "Back to inteligencia artificials", inteligencia_artificials_path %>

  <%= button_to "Destroy this inteligencia artificial", @inteligencia_artificial, method: :delete %>
</div>
